@import 'tailwindcss';
@import 'tw-animate-css';
@import '../../../../../lib/web/src/styles/theme.css';
@import '../../../../../lib/web/src/styles/base.css';

@source "../../../../../lib/web/src/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    background-color: var(--background);
    background-image: var(--background-image, none);
    background-size: var(--background-size, cover);
    background-position: var(--background-position, center);
    background-repeat: var(--background-repeat, no-repeat);
  }
}
